<ion-header>
  <ion-toolbar style = "height: 33px;">
    <ion-title style = "font-size: small; margin-bottom: 6%;">scorecard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="font-size:12px;">
  <ion-card>
    <ion-card-header>Batting card</ion-card-header>
      <ion-row>
          <ion-col size='2'>name</ion-col>
          <ion-col size='2'>score</ion-col>
          <ion-col size='2'>balls</ion-col>
          <ion-col size='2'>4's</ion-col>
          <ion-col size='2'>6's</ion-col>
          <ion-col size='2'>strike</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
        <ion-row>
          <ion-col size='2'>sachin</ion-col>
          <ion-col size='2'>20</ion-col>
          <ion-col size='2'>9</ion-col>
          <ion-col size='2'>2</ion-col>
          <ion-col size='2'>1</ion-col>
          <ion-col size='2'>210</ion-col>
          <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
        </ion-row>
  </ion-card>
  <ion-card>
      <ion-card-header>Bowling card</ion-card-header>
        <ion-row>
            <ion-col size='2'>name</ion-col>
            <ion-col size='2'>overs</ion-col>
            <ion-col size='2'>madien</ion-col>
            <ion-col size='2'>4's</ion-col>
            <ion-col size='2'>6's</ion-col>
            <ion-col size='2'>Ecomy</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size='2'>sachin</ion-col>
            <ion-col size='2'>10</ion-col>
            <ion-col size='2'>2</ion-col>
            <ion-col size='2'>2</ion-col>
            <ion-col size='2'>1</ion-col>
            <ion-col size='2'>30</ion-col>
            <!-- <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div> -->
          </ion-row>
          </ion-card>

</ion-content>