.bg-img {
    background-image:url("../../assets/icon/players-icon/login-4.png");
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
    // filter: blur(8px);
    // -webkit-filter: blur(8px);
    min-height: 550px;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.continer {
    background-image:url("../../assets/icon/players-icon/login-4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 9px;
    top:158px;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4);
    // background-color: transparent;
    border: 1px dashed #f1f1f1;
    // transform: translate(-50%, -50%);
  z-index: 2;
}