.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

.side-card-position {
    position: absolute;
    top: 17%;
}

.center-button-notout {
    display: flex; 
    justify-content: center;
}